.content {
  background-color: #fff;
  color: #000;

  &--header {
    padding: 12px 0;
    padding-left: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;

    a {
      margin-right: 8px;
      color: #000;
      text-decoration: none;
    }
  }

  &-left {
    margin: 0 48px 0;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
  }

  &-right {
    margin: 0 48px 0;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
  }

  &--title {
    &-left {
      margin: 0 48px 0;
      font-size: 14px;
      font-weight: bold;
      text-align: left;
    }

    &-right {
      margin: 0 48px 0;
      font-size: 14px;
      font-weight: bold;
      text-align: right;
    }
  }

  &--sec {
    padding: 10px;
    margin: 0 48px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;

    &-header {
      display: flex;
      align-items: flex-start;
      font-size: 16px;
      margin-bottom: 12px;
    }

    &-left {
      display: flex;
      justify-content: flex-start;
      font-size: 16px;
      margin-bottom: 12px;
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      font-size: 16px;
      margin-bottom: 12px;
    }
  }

  &--list {
    padding-left: 0;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 0;

      li {
        padding: 120px;
        text-align: center;
        width: calc(100% / 3);
        border: 1px #eee solid;

        .icon {
          img {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }

  &--row {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    max-width: 100%;
    margin: 12px 48px;

    &-card {
      display: block;
      width: calc(50% - 20px);

      &-title {
        font-size: 14px;
        font-weight: bold;
      }

      &-inner {
        padding: 10px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: 0 2px 5px #ccc;
        height: 220px;

        &-header {
          display: flex;
          align-items: flex-start;
          font-size: 16px;
          margin-bottom: 12px;
        }

        &-description {
          font-size: 12px;
          position: relative;
          text-align: left;

          .subtitle {
            font-size: 12px;
            color: #404040;
          }

          p {
            font-size: 12px;
            color: #404040;
            margin: 0 0 8px;
          }

          ul {
            list-style: none;
            padding: 0;
            margin: 0;
          }
        }
      }

      &:nth-child(odd) {
        margin-right: 10px;
      }

      &:nth-child(even) {
        margin-left: 10px;
      }
    }
  }
}

@media screen and (min-width: 481px) {
  .content {
    &-row {
      &-card {
        width: 100%;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .content {
    background-color: #303030;
    color: #fff;

    &--row {
      background-color: #303030;
      color: #fff;

      &-card {
        &-inner {
          &-description {
            .subtitle {
              background-color: #303030;
              color: #fff;
            }

            p {
              background-color: #303030;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
