@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.light-theme {
  background: #fff;
  color: #000;
}

.dark-theme {
  background: #303030;
  color: #fff;

  .drp-buttons {
    input {
      color: #000;
    }
  }

  .calendar-table {
    tr, td {
      color: #000;
    }
  }
}

/*@media (prefers-color-scheme: dark) {
  .drp-buttons {
    input {
      color: #000;
    }
  }

  .calendar-table {
    tr, td {
      color: #000;
    }
  }
}*/
