@charset "UTF-8";

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Atoms */
$normal-color: #0084cf;
$border-color: #ccc;

/* Table */
$shadow-color: #eee;
$highlight-color: #ccc;

/* colors */
$white-color: #FFFFFF;
$brand-color: #35495e;
$link-color: #2B7CBF;
$field-color: #F3F4F6;
$ui-color: #CCCCCC;
$support-color: #F3EDA7;
$textgray-color: #999999;
$error-color: #DC3339;
$success-color: #769729;
$disable-color: #CCCCCC;
$normalize-color: #297497;
$information-color: #AAC9F2;

$theme-colors:(
  white-color: $white-color,
  brand-color: $brand-color,
  link-color: $link-color,
  field-color: $field-color,
  ui-color: $ui-color,
  support-color: $support-color,
  textgray-color: $textgray-color,
  error-color: $error-color,
  success-color: $success-color,
  disable-color: $disable-color,
  normalize-color: $normalize-color,
  information-color: $information-color,
);

/* theme color */
$--color-primary: $brand-color;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

* {
  font-family: Roboto, 'Hiragino kaku Gothic ProN';
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 8px;
}
