.rate {
  position: relative;
  display: inline-block;

  &:before,
  &:after {
    content: '★★★★★';
  }

  &:before {
    color: #ccc;
  }

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    color: #ffa500;
    overflow: hidden;
  }
}

.rate0:after {
  width: 0;
}

.rate0-1:after {
  width: 0.1em;
}

.rate0-2:after {
  width: 0.2em;
}

.rate0-3:after {
  width: 0.3em;
}

.rate0-4:after {
  width: 0.4em;
}

.rate0-5:after {
  width: 0.5em;
}

.rate0-6:after {
  width: 0.6em;
}

.rate0-7:after {
  width: 0.7em;
}

.rate0-8:after {
  width: 0.8em;
}

.rate0-9:after {
  width: 0.9em;
}

.rate1:after {
  width: 1em;
}

.rate1-1:after {
  width: 1.1em;
}

.rate1-2:after {
  width: 1.2em;
}

.rate1-3:after {
  width: 1.3em;
}

.rate1-4:after {
  width: 1.4em;
}

.rate1-5:after {
  width: 1.5em;
}

.rate1-6:after {
  width: 1.6em;
}

.rate1-7:after {
  width: 1.7em;
}

.rate1-8:after {
  width: 1.8em;
}

.rate1-9:after {
  width: 1.9em;
}

.rate2:after {
  width: 2em;
}

.rate2-1:after {
  width: 2.1em;
}

.rate2-2:after {
  width: 2.2em;
}

.rate2-3:after {
  width: 2.3em;
}

.rate2-4:after {
  width: 2.4em;
}

.rate2-6:after {
  width: 2.6em;
}

.rate2-7:after {
  width: 2.7em;
}

.rate2-8:after {
  width: 2.8em;
}

.rate2-9:after {
  width: 2.9em;
}

.rate3:after {
  width: 3em;
}

.rate3-1:after {
  width: 3.1em;
}

.rate3-2:after {
  width: 3.2em;
}

.rate3-3:after {
  width: 3.3em;
}

.rate3-4:after {
  width: 3.4em;
}

.rate3-5:after {
  width: 3.5em;
}

.rate3-6:after {
  width: 3.6em;
}

.rate3-7:after {
  width: 3.7em;
}

.rate3-8:after {
  width: 3.8em;
}

.rate3-9:after {
  width: 3.9em;
}

.rate4:after {
  width: 4em;
}

.rate4-1:after {
  width: 4.1em;
}

.rate4-2:after {
  width: 4.2em;
}

.rate4-3:after {
  width: 4.3em;
}

.rate4-4:after {
  width: 4.4em;
}

.rate4-5:after {
  width: 4.5em;
}

.rate4-6:after {
  width: 4.6em;
}

.rate4-7:after {
  width: 4.7em;
}

.rate4-8:after {
  width: 4.8em;
}

.rate4-9:after {
  width: 4.9em;
}

.rate5:after {
  width: 5em;
}
